@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Black.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-ExtraBold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
  }
  .title-style {
    @apply text-xl font-title md:text-3xl lg:text-5xl font-semibold tracking-tighter leading-tight md:leading-none my-4;
  }
  .menu-btn-lg {
    @apply inline-block transition duration-300 ease-in-out text-lg px-2 lg:px-4 py-4 leading-none hover:text-black font-medium;
  }
  .menu-btn-lg-active {
    @apply text-black;
  }
  .link-styling {
    border-bottom: 2px solid black;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    @apply mb-4;
  }
  .accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    @apply py-4 pr-4 font-medium text-lg mb-2;
  }
  .accordion:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 10px;
    padding-left: 10px;
  }

  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #fff;
  }
}
