@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Black.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-ExtraBold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
  }
  .title-style {
    @apply text-2xl font-title md:text-5xl lg:text-6xl font-bold tracking-tighter leading-tight md:leading-none my-8;
  }
  .menu-btn-lg {
    @apply inline-block transition font-normal duration-300 ease-in-out text-lg px-2 lg:px-4 py-4 leading-none hover:text-black;
  }
  .menu-btn-lg-active {
    @apply text-black;
  }
}
